@model Usuarios;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AUTENTICACION</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Fallo del login, check los detalles");
    <div>
        <fieldset>
            <legend>Credenciales de Ingreso</legend>
            <div class="editor-label text-center">LOGIN</div>
            <div class="editor-field text-center">@Html.TextBoxFor(u => u.Loginusuario)</div>
            <div class="editor-label text-center">PASSWORD</div>
            <div class="editor-field text-center">@Html.PasswordFor(u => u.Passwordusuario) @Html.ValidationMessageFor(u => u.Passwordusuario)</div>
            <input type="submit" value="Entrar" />
        </fieldset>
    </div>
}

