@model Recruit.MVC.Models.Estado

@{
    ViewData["Title"] = "Editar un registro";
}

<h2>Edit</h2>

<h4>Estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pkestado" class="control-label"></label>
                <input asp-for="Pkestado" class="form-control" />
                <span asp-validation-for="Pkestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcionestado" class="control-label"></label>
                <input asp-for="Descripcionestado" class="form-control" />
                <span asp-validation-for="Descripcionestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la página principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
