@model Recruit.MVC.Models.ConfiguracionModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ConfiguracionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CORREOCONFIGURACION" class="control-label"></label>
                <input asp-for="CORREOCONFIGURACION" class="form-control" />
                <span asp-validation-for="CORREOCONFIGURACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PATHCONFIGURACION" class="control-label"></label>
                <input asp-for="PATHCONFIGURACION" class="form-control" />
                <span asp-validation-for="PATHCONFIGURACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PKCONFIGURACION" class="control-label"></label>
                <input asp-for="PKCONFIGURACION" class="form-control" />
                <span asp-validation-for="PKCONFIGURACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
